@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,700;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgb(12, 12, 12);
    --custom-linear-gradient: linear-gradient(to bottom right, #4fd98d, #0098ff);
}

body {
    background-color: var(--bg-color);
    color: rgb(255, 255, 255);
    font-family: 'Jost', 'sans-serif';
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #232323;
}

::-webkit-scrollbar-thumb {
    background: rgb(87, 218, 222);
    border-radius: 15px;
}

.navbar-icon-searchbar {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    padding-bottom: 0;
}

.icon {
    height: 2.8em;
}

.first-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

h1 {
    font-size: 60px;
    background-image: var(--custom-linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4.5em;
    background-position: left;
    text-align: center;
}

.app-description {
    font-weight: 300;
    font-size: 25px;
    width: min(max(47%, 800px), 100%);
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.9em;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    flex-direction: row;
}

.button-download-here {
    text-align: center;
    border-radius: 30px;
    background: var(--custom-linear-gradient);
    padding: 10px 30px;
}

.button-try-online {
    font-size: inherit;
    font-weight: 500;
    background-image: var(--custom-linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: left;
    text-align: center;
    border-radius: 30px;
    padding: 8px 48px;
}

.button-try-online-background {
    display: flex; 
    background: var(--bg-color); 
    border-radius: 30px; 
    align-items: center;
}

.gradient-outline {
    display: flex;
    background: var(--custom-linear-gradient);
    padding: 2px 2px;
    border-radius: 30px;
    margin-left: 30px;
}

.button-first-section:hover {
    cursor: pointer;
}

nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    padding: 25px;
}   

nav img {
    margin-right: 20px;
}

.row {
    display: flex;
    flex-direction: row;
}

.search-bar {
    border-radius: 40px;
    padding: 7px 0px;
    padding-right: 36px;
    padding-left: 18px;
    font-size: 1em;
    text-align: left;
    outline: none;
    font-family: 'Jost';
    border: none;
    background-color: rgb(255, 255, 255);     
}
::placeholder {
    color: rgb(0, 0, 0);
}

.nav-buttons {
    display: flex;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Jost';
}

/* second-section */

.second-section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 50px;
}

.text-explain {
    width: 60%;
}

.text-explain h3 {
    font-size: 2em;
}

.text-explain p {
    font-size: 1.2em;
}

.second-section img {
    margin-top: 200px;
    width: 800px;
    height: 450px;
    border-radius: 25px;
    margin-right: 50px;
}

@media screen and (max-width: 1400px) {
    .second-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text-explain {
        width: 100%;
        text-align: center;
    }
    .text-explain h3 {
        margin-bottom: 10px;
    }

    .second-section img {
        margin-top: 150px;
        width: 800px;
        height: 450px;
        border-radius: 25px;
        margin-right: 0px;
        align-self: center;
    }
}

.way-styling {
    background-image: linear-gradient(to bottom right, #88FFC6, #00F0FF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

/* third-section */

.third-section {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.third-section h3 {
    font-size: 2.5em;
    margin-bottom: 15px;
    background-image: var(--custom-linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


.third-section div {
    width: min(350px, 40vw);
    word-wrap: break-word;
}

.third-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* footer */

footer {
    margin-inline: 25px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-block: 5px;
    justify-content: space-evenly;

}

.footer-text {
    text-align: center;
    margin-top: 30px;
}

.links {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

ion-icon {
    width: 35px;
}

.twitter {
    color: hsl(204, 88%, 53%);
}

section {
    height: 100%;
}

footer {
    margin: unset;
    background-color: rgb(40, 40, 40);
}

@media screen and (max-width: 1000px) {
    :root {
        font-size: 0.7rem;
    }
    .first-section, .second-section, .third-section {
        margin-inline: 20px;
    }

    .second-section img {
        margin-top: 50px;
        width: 350px;
        height: 150px;
    }

    .app-description {
        width: 100%;
    }
    .text-explain {
        width: 100%;
    }

    .third-section {
        margin-top: -5vh;
        margin-left: 45px;
        padding: 0;
    }
    .review {
        max-width: 210px;
        margin-inline: 20px;
        font-size: 1.2em;
    }
}

@media screen and (max-width: 450px) {
    .third-section div {
        font-size: 0.9em;
    }
    
}

