/*define color variables in root*/
:root {
    --first-color: #1a1a1a;
    --second-color: #000222;
    --third-color: #000222;
    --fourth-color: #1a1a1a;
}

body {
    margin: 0;
    padding: 0;
    background: var(--first-color);
    font-family: 'Open Sans', sans-serif;    
    color: rgba(255, 255, 255, 0.904);
}

h1 {
    background: linear-gradient(to right,#2ADF9E, #275CE5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    font-weight: bold;
}

h2 {
    font-size: 3vw;
}

h3 {
    font-size: 2vw;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center-children {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    color: rgba(255, 255, 255, 0.904);
    text-decoration: none;
}

.header {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: auto;
    justify-items: stretch;
    align-items: center;
}

.cool-underline {
    display: inline-block;
    position: relative;
    color: #0087ca;
}

.cool-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cool-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.first {
    background: linear-gradient(to bottom, var(--first-color), var(--second-color));
}
.second {
    background: linear-gradient(to bottom, var(--second-color), var(--third-color));
}
.third {
    background: linear-gradient(to bottom, var(--third-color), var(--fourth-color));
}
.fourth {
    background: linear-gradient(to bottom, var(--fourth-color), var(--first-color));
}